:root {
  --nav-bg: rgba(70, 53, 223, 0.404);
  --nav-text: #ffffff;
    --nav-base: #38bdf8;

}


/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    ),
    url("assets/hero-bg.jpeg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  color: #ffffff;
  line-height: 1.6;
}


/* NAVBAR */
.navbar {
  background: var(--nav-bg);
  border-bottom: 1px solid var(--nav-base);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.logo img {
  height: 40px;
}

nav a {
  margin-left: 25px;
  text-decoration: none;
  color: var(--nav-text);
  padding: 1rem;
  transition: color 0.3s ease;
}

/* BUTTON */
.btn-primary {
  border: 1px solid  #cb1eff;
  padding: 8px 18px;
  border-radius: 6px;
  color:  #cb1eff;
}

/* HERO */
.hero {
  height: 60vh;
  display: flex;
  align-items: center;
  padding-top: 80px;
  position: relative;
  text-align: center;
}



.hero-content {
  max-width: 700px;
  margin-left: 10%;
}

.hero h1 {
  font-size: 3.2rem;
  font-weight: 800;
}

.hero h1 span {
  color: #cb1eff;
}

.hero p {
  margin: 20px 0 30px;
  color: #ffffff;
  max-width: 550px;
}

/* STATS */
.stats {
  display: flex;
  justify-content: space-around;
  padding: 60px 10%;
  background: #342eea44;
}

.stat h2 {
  color:  #cb1eff;
  font-size: 2.5rem;
}

.stat p {
  color: #ffffff;
}

/* SERVICES */
.services {
  padding: 80px 10%;
}

.services h2 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 2.2rem;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
}

.service-card {
  background: #342eea44;
  border: 1px solid #1a1a1a00;
  padding: 30px;
  border-radius: 12px;
  transition: 0.3s;
}


.service-card h3 {
  margin-bottom: 10px;
  color:  #cb1eff;
}

.service-card p {
  color: #ffffff;
}

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#contact {
  background: #342eea44;
  color: #ffffff;
  flex-direction: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 64px 32px;

    border-radius: 16px;

}

.form-group {
display: flex;
flex-direction: column;
}

.form-group input,
.form-group textarea {
  text-align: center;
}

#contact button {
  color:rgb(255, 255, 255);
  background-color: #4758dbd3;
  padding: 5px 2px
  
}
